@import "variable";

.scoreBoard {
  background-color: white;
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  width: fit-content;

  &__text {
    color: $ScoreText;
    line-height: 1;
    padding-top: 0.1rem;
    margin-bottom: -0.4rem;
  }
  &__score {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .user {
      margin-right: 2rem;
      width: 75px;

      &__score {
        font-size: 2.2rem;
        font-weight: 700;
        color: $DarkText;
        line-height: 1;
      }
      &__name {
        font-size: 0.8rem;
        line-height: 1;
        font-weight: 700;
      }
    }
    .computer {
      margin-left: 2rem;
      width: 75px;

      &__score {
        font-size: 2.2rem;
        font-weight: 700;
        color: $DarkText;
        line-height: 1;
      }
      &__name {
        font-size: 0.8rem;
        line-height: 1;
        font-weight: 700;
      }
    }
  }
  .ties {
    font-size: 0.75rem;
    font-style: italic;
    color: $HeaderOutline;

    span {
      font-weight: 700;
    }
  }
}
