@import "variable";

.selection {
  padding: 1.2rem;
  border-radius: 50%;
  width: fit-content;
  margin-bottom: 1rem;
  // z-index: 2;

  &__image {
    width: 112px;
    height: 112px;
    padding: 2rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 8px 0px darken(#fff, 7%) inset;
    margin-bottom: -3px;
    margin-left: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: contain;
    }
  }
}
