@import "variable";

.selection {
  padding: 1.2rem;
  border-radius: 50%;
  width: fit-content;
  margin-bottom: 1rem;
  z-index: 2;
  cursor: pointer;
  transition: all ease-in-out 0.4s;

  &__image {
    width: 112px;
    height: 112px;
    padding: 2rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 8px 0px darken(#fff, 7%) inset;
    margin-bottom: -3px;
    margin-left: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: contain;
    }
  }

  &.clicked {
    padding: 1.5rem;
    .selection__image {
      width: 150px;
      height: 150px;
      img {
        object-fit: contain;
        width: 70px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .selection {
    padding: 0.7rem;
    &__image {
      width: 75px;
      height: 75px;
      padding: 1.3rem;
      margin: 0;
      box-shadow: 0px 6px 0px darken(#fff, 7%) inset;

      img {
        width: 100%;
      }
    }

    &.clicked {
      padding: 0.9rem;
      .selection__image {
        width: 90px;
        height: 90px;
        img {
          object-fit: contain;
          width: 45px;
        }
      }
    }
  }
}
